.searchbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 105px;
  background: #1c1c1c;
  padding: 25px 20px 0px 20px;
  box-sizing: border-box;
  color: #fff;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.24);

}

.searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background:#353535;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: #fff;
}

.fa-search {
  position: absolute;
  left: 20px;
  top: 12px;
  color: #fff;
}

.searchbar-input {
  font-family: 'Titillium Web', sans-serif;
  font-size: 38px;
  position: absolute;
  left: 70px;
  top: 7px;
  border: 0;
  background: transparent;
  height: 40px;
  color: #fff;
  width: 100%
}

.searchbar-input:hover {

}

.searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .searchbar-input {
    font-size: 28px;
    color: #fff;
  }
}